/*COOLORS*/
/*
ORANGE COLORS  #e67e22 



*/



/*===========================================
General Styles
=============================================*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background: #fff;
	color: #555;
	font-family: 'Lato'; 'Arial'; sans-serif;
	font-size: 20px;
	font-weight: 300; /*default weight*/
	text-rendering: optimizeLegibility;
}
.box {
	/*added box class because columns are too close to each other*/
	padding: 1%;
}
/*===========================================
Reusable Components
=============================================*/

.row {
	max-width: 1140px; /*this is the only value that is absolute and in px*/
	margin: 0 auto; /*all our rows will be centered*/
}

section {
	/* adding whitespace padding, instead of margin*/
	padding: 80px 0; /*add padding to columns*/
}
/*----------------HEADINGS------------------*/

h1, h2 {
	font-weight: 300; /*for big font sizes use smaller font weight*/
	text-transform: uppercase;
	letter-spacing: 1px;
}
h1 {
	margin-top: 0; /*normalize.css adds some margin*/
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%; /*relative to the html global fontsize which is at 20px*/
	word-spacing: 4px;
}
h2 {
	font-size: 180%;
	text-align: center;
	word-spacing: 2px;
	margin-bottom: 30px; 
}

h2:after {
	/*pseudo class adds yellow line between h2 and the immediate paragraph*/
	display: block; 
	height: 2px;
	background-color: #e67e22;
	content: " "; /* add space but no other characters*/
	width: 100px;
	margin: 0 auto;
	margin-top: 30px; /*margin between h2 after and the actual h2, then 30px up and down*/
}

/*----------------PARAGRAPHS------------------*/
.long-copy{
	line-height: 145%;
	width: 70%;  /*paragraph will no longer be centered after adjusting the width*/
	margin-left: 15%; /*15% because the total width is 100% the remaining percent should be distributed between left and right*/
}

/*----------------BUTTONS------------------*/

.btn:link,
.btn:visited {
	/*inline-block is similar to an inline element that can have padding and margin, inline elements cant.
	normal a tags are inline elements
	btn-link and btn-visited will look the same*/
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
	 /*for all btn classes, there should be a hover transition animation effect for the normal state*/
}
.btn-full:link,
.btn-full:visited {
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px; /*space between buttons*/
}
.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #e67e22;
	/*this button looks bigger (height wise) because of the extra 2px border (content+padding+border) */
	color: #e67e22;
}
.btn:hover,
.btn:active {
	/*links in css can have many states (link, visited, adctive, and hover)
	link is the normal state
	visited is the state after a visit
	hover is when you put your mouse over the link
	active is when you click the link*/
	background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active {
/*we had to create another set of hover events for btn-ghost/full because they did not look good on hover
textcolor needed to be changed on ghost and added a smooth transition between text colors*/
	border: 1px solid #cf6d17;
	color: #fff;
}
.btn-ghost:hover,
.btn-ghost:active {
	border: 1px solid #cf6d17;
	color: #fff;
}

/*===========================================
Header Elements
=============================================*/

header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0 ,0 ,0, 0.7)), url("img/hero.jpg"); /*path is relative to this css file inside the resources folder*/
	/*linear gradient is used to make the image transparent PLEASE USE THIS FOR THE PORTFOLIO*/
	height: 100vh; /*100% of view port*/
	background-size: cover;
	background-position: center;
}
.hero-text-box {
	width: 1140px;
	position: absolute;/*vertical and horizontal centering*/
	top: 50%; /*vertical and horizontal centering*/
	left: 50%; /*vertical and horizontal centering*/
	transform: translate(-50%, -50%); /*translate allows half of its width up and left*/
}

.logo{
	height: 100px;
	width: auto; /*determined automatically*/
	float: left; 
	margin-top: 20px;
}
.main-nav{
	float: right;
	list-style: none;
}

.main-nav li{
	display: inline-block; /*li is originally block elements*/
	margin-left: 40px;
	margin-top: 55px;
}
.main-nav li a:link,
.main-nav li a:visited{ 
	/*link at the visited/current stays stays the same*/
	padding: 8px 0; /*adding padding between the text and border bottom*/
	color: #fff;
	text-decoration: none;	/*no underline*/
	text-transform: uppercase;
	font-size: 90%; /*default font size is 20px on the html selector, 18/20 = 90%*/
	border-bottom: 2px solid transparent; /*border set to transparent until you hover*/
	transition: border-bottom 0.2s;
}
.main-nav li a:active,
.main-nav li a:hover {
	border-bottom: 1px solid #e67e22; /*orange color on highlight of nav buttons*/
}
